.statistic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 12rem;
    background-color: var(--color-light-green);
    border-radius: 30px;
    margin: 2%;
}

.statistic img{
    margin-left: 10%;
}

.statistic p{
    color: var(--color-green);
}