@font-face {
  font-family: 'get_schwifty';
  src: url('../public/fonts/get_schwifty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --font-geo: "Geo", sans-serif;
  --font-get: "get_schwifty";

  --color-ciano: #0AAAC0;
  --color-white: #FFFF;
  --color-dark-dark-green: #252525;
  --color-green: #2B4923;
  --color-dark-green: #1F281C;
  --color-light-green: #6D8E65;
  --color-light-light-green: #67AF54;
  --color-lime-green: #5DE412;
}
html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  font-family: var(--font-geo);
  background: linear-gradient(var(--color-dark-dark-green),var(--color-green));
}


body::-webkit-scrollbar {
  width: 5px;               
}

body::-webkit-scrollbar-track {
  background: linear-gradient(var(--color-dark-dark-green),var(--color-green));        
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-ciano);    
  border-radius: 20px;       
}

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

p{
  font-size: 40px;
  color: var(--color-white);
  max-width: 60%;
  margin: 0 auto;
  font-weight: normal;
}

@media(max-width: 440px){
  p{
    font-size: 27px;
    color: var(--color-white);
    max-width: 60%;
    margin: 0 auto;
    font-weight: normal;
  }
}
